@media screen and (max-width: 52.5em) {
	.info {
		padding: 2.8125rem 0;
	}
	.info__container {
		gap: 2.875rem;
		grid-template-columns: repeat(1, 1fr);
	}
	.info__img {
		text-align: center;
		order: 1;
	}
	.info__content {
		gap: 1.125rem 1.875rem;
	}
}

@media (min-width: 52.5em) {
	.info {
		padding: 5.3125rem 0;
	}
	.info__container {
		gap: 4.75rem;
		grid-template-columns: repeat(2, 1fr);
	}
	.info__content {
		gap: 2.25rem 3.75rem;
	}
}

@media (min-width: 48em) {
	.title {
		font-size: 1.875rem;
	}
	.materials__container {
		display: grid;
		grid-template-columns: 50% 20.3125rem;
	}
	.materials__content {
		padding: 1.5625rem 0 3.625rem;
	}
	.materials__slider {
		transform: translate(0, -20.765027%);
	}
	.materials::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 2.375rem;
		background-color: #fff;
		width: 61.7%;
		z-index: 56;
		transform: translate(0, -98%);
	}
	.materials::after {
		content: '';
		position: absolute;
		bottom: -0.0625rem;
		right: 0;
		height: 8.625rem;
		background-color: #222f33;
		width: 38.4%;
	}
	.materials__text {
		max-width: 25rem;
		line-height: 1.9;
		color: #646d70;
	}
	.swiper {
		max-width: 20.3125rem;
		height: 22.875rem;
		z-index: 60;
	}
	/* -------------------- */
	.innovation {
		padding: 4.5rem 0 5rem;
	}
	.innovation__text {
		gap: 2.625rem;
	}
}

@media screen and (max-width: 48em) {
	.title {
		font-size: 1.5rem;
	}
	.materials__container {
		display: grid;
		grid-template-columns: auto;
		gap: 0;
	}
	.materials__content {
		padding-top: 1.5625rem;
	}
	.materials__slider {
		transform: translate(0, 0);
	}
	.materials__text {
		line-height: 1.9;
		color: #646d70;
	}
	.swiper {
		margin-bottom: 0.9375rem;
		width: 100%;
	}
	.innovation {
		padding: 2.25rem 0 2.5rem;
	}
	.innovation__text {
		flex-wrap: wrap;
		gap: 1.25rem;
	}
}

@media (min-width: 43.75em) {
	.main-section__container {
		grid-template-columns: 54.320988% 1fr;
	}
	.main-section__video-link {
		justify-self: center;
	}
}

@media screen and (max-width: 43.75em) {
	.main-section__container {
		grid-template-columns: 1fr;
		align-content: center;
	}
	.main-section__video-link {
		justify-self: left;
	}
}

@media (max-width: 39.0625em) {
	.header__container {
		min-height: 4.375rem;
	}
	.header__body {
		column-gap: 1.25rem;
	}
	.header__logo {
		flex: 0 0 2.0625rem;
	}
	.menu__list {
		column-gap: 1.25rem;
		font-size: 1.875rem;
	}
	.header__button {
		padding: 0.625rem 0.9375rem;
	}
}
@media screen and (max-width: 36.25em) {
	.footer {
		padding: 15px 0;
	}
	.footer__inner {
		flex-direction: column;
		min-height: 4rem;
		gap: 12px;
	}
}
@media (min-width: 36.25em) {
	.footer__inner {
		min-height: 6rem;
	}
}
