$primary-color: #222F33

.wrapper
	display:flex
	flex-direction:column
	min-height:100%

.container
  max-width:  838px
  margin: 0 auto
  padding: 0 15px

.main
  flex-grow: 1

.menu
  background-color: $primary-color
